.DS_Store
.eslintcache
*.sublime-*
bower_components
node_modules
*.js.map
npm-debug.log
!.gitinclude
.stylelintcache
.env
/ARKitWeb.xcodeproj/project.xcworkspace/xcuserdata/amelie.xcuserdatad/UserInterfaceState.xcuserstate
/Web/public
/ARKitWeb/www/assets