html {
  font-size: 15px;
}

body {
  margin: 0;
  overflow: hidden;
  font-size: 1rem;
  color: white;
  background-color: transparent;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header {
  padding: 2rem;
}

.demos {
  padding: 2rem;
  list-style: none;
}

.demos li {
  margin: 1rem 0;
}

.ixviii {
  position: absolute;
  bottom: 1.5rem;
  left: 1.5rem;
  display: block;
  width: 4rem;
  height: 4rem;
  opacity: 0.5;
  background-image: url('../svg/ixviii.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.ixviii:hover {
  opacity: 1;
}
