{
  "ignoreFiles": [
    "./node_modules/**",
    "./assets/**",
    "./build/**",
    "./backend/**",
    "./docs/**",
    "./internals/**",
    "./labs/**"
  ],
  "plugins": [
    "stylelint-order",
    "stylelint-scss"
  ],
  "rules": {
    "declaration-property-value-blacklist": {
      "border": ["none"]
    },
    "declaration-empty-line-before": "never",
    "declaration-no-important": true,
    "declaration-property-unit-whitelist": {
      "line-height": [],
      "letter-spacing": ["em", "rem"]
    },
    "declaration-block-no-duplicate-properties": true,
    "selector-max-empty-lines": 1,
    "max-empty-lines": 1,
    "block-opening-brace-space-before": "always",
    "block-opening-brace-newline-after": "always-multi-line",
    "block-closing-brace-newline-after": [
      "always-multi-line", {
        "ignoreAtRules": ["if", "else"]
      }
    ],
    "no-missing-end-of-source-newline": true,
    "block-no-empty": true,
    "block-closing-brace-empty-line-before": "never",
    "rule-empty-line-before": [
      "always", {
        "except": ["first-nested"],
        "ignore": ["after-comment"]
      }
    ],
    "property-no-unknown": true,
    "indentation": 2,
    "color-hex-length": null,
    "function-parentheses-space-inside": "never",
    "number-leading-zero": "always",
    "color-hex-case": "lower",
    "selector-class-pattern": "^((?:-{1,2}|_{2})?[a-z0-9]+(?:(?:-{1,2}|_{2})[a-z0-9]+)*)(?:-{1,2}|_{2})?$",
    "no-duplicate-selectors": true,
    "max-nesting-depth": 3,
    "string-quotes": "single",
    "declaration-block-trailing-semicolon": "always",
    "no-eol-whitespace": true,
    "number-no-trailing-zeros": true,
    "selector-pseudo-element-colon-notation": "double",
    "selector-list-comma-newline-after": "always",
    "value-list-comma-space-after": "always-single-line",
    "declaration-colon-space-after": "always",
    "declaration-colon-space-before": "never",
    "function-url-quotes": "always",
    "shorthand-property-no-redundant-values": true,
    "declaration-block-semicolon-newline-after": "always",
    "scss/at-if-closing-brace-newline-after": "always-last-in-chain",
    "scss/at-if-closing-brace-space-after": "always-intermediate",
    "scss/at-import-no-partial-leading-underscore": true,
    "scss/at-import-partial-extension-whitelist": [""],
    "scss/selector-no-redundant-nesting-selector": true,
    "property-no-vendor-prefix": true,
    "selector-no-vendor-prefix": true,
    "media-feature-name-no-vendor-prefix": true,
    "at-rule-no-vendor-prefix": true,
    "value-no-vendor-prefix": true,
    "length-zero-no-unit": true,
    "order/order": [{
        "type": "at-rule"
      },
      {
        "type": "at-rule",
        "name": "mixin"
      },
      {
        "type": "at-rule",
        "name": "extend"
      },
      {
        "type": "at-rule",
        "name": "include"
      },
      "declarations",
      "rules",
      "custom-properties",
      {
        "type": "at-rule",
        "name": "media"
      }
    ],
    "order/properties-order": [
      [
        "content",
        "z-index",
        "float",
        "clear",
        "position",
        "top",
        "right",
        "bottom",
        "left",
        "margin",
        "margin-top",
        "margin-right",
        "margin-bottom",
        "margin-left",
        "padding",
        "padding-top",
        "padding-right",
        "padding-bottom",
        "padding-left",
        "display",
        "flex",
        "flex-grow",
        "flex-shrink",
        "flex-basis",
        "flex-wrap",
        "flex-direction",
        "flex-flow",
        "justify-content",
        "align-items",
        "align-content",
        "align-self",
        "order",
        "list-style",
        "columns",
        "column-gap",
        "column-fill",
        "column-rule",
        "column-span",
        "column-count",
        "column-width",
        "width",
        "height",
        "overflow",
        "box-sizing",
        "box-shadow",
        "border",
        "border-top-color",
        "border-left-color",
        "border-radius",
        "clip-path",
        "visibility",
        "opacity",
        "cursor",
        "pointer-events",
        "outline",
        "resize",
        "font",
        "font-family",
        "font-size",
        "font-weight",
        "font-style",
        "font-smoothing",
        "color",
        "letter-spacing",
        "line-height",
        "text-align",
        "text-decoration",
        "text-transform",
        "text-indent",
        "text-shadow",
        "text-overflow",
        "vertical-align",
        "white-space",
        "word-spacing",
        "background",
        "background-color",
        "background-image",
        "background-repeat",
        "background-position",
        "background-size",
        "transform",
        "transform-origin",
        "animation",
        "animation-name",
        "animation-duration",
        "animation-delay",
        "animation-timing-function",
        "animation-direction",
        "animation-fill-mode",
        "animation-iteration-count",
        "animation-play-state",
        "transition",
        "transition-property",
        "transition-duration",
        "transition-delay",
        "transition-timing-function"
      ],
      {
        "unspecified": "ignore"
      }
    ]
  }
}
