{
	 "presets": ["es2015", "stage-0"],
  "plugins": [
    ["module-resolver", {
      "root": ["./src/js"],
      "alias": {
							"config": "./config",
        "lib": "./lib",
        "templates": "./templates",
								"utils": "./utils"
      }
    }]
  ]
}
